input[type="file"] {
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: center; 
	padding-bottom: 50px;
	left: 2em; top: 1em; 
	z-index: 99;
	width: 100%;
	background-color: white;
	color:red;
	padding:5;
}
  
img.download{
	height: 30px;
	width:30px;
	margin-top:1em;
}

div.newfile{
	padding: 20px;
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	top: 1em; 
	width: 50%;
	background-color: transparent;
}

div.file{
	top: 1em; 
	margin-bottom: 0em; 
	border-bottom: 1px solid lightgrey;
}

button.upload{
	background-color: rgba(255,255,215,0);
	border-style:none;
	text-decoration: underline;
	cursor: pointer;
	margin-bottom: 1em;
}

a.delete{
	float:right;
	color: red;
	font-size: 1em;
	text-decoration: underline;
}

a.delete:hover{
	color: red;
	font-size: 1em;
	text-decoration: underline;
}

h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0; 
}

#container {
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	position: relative;
	background: white; 
}

div.folder{
	padding:5px;
	padding-right: 0px;
	position:relative;
	background-color:	#FAFAFA;
	border: 1px solid grey;
	min-height: 30px;
	border-bottom: 1px solid grey;
}
div.files{
	padding:5px;
	position:relative;
	background-color: #feffff; /* Old browsers */
	border: 1px solid grey;
	padding-right: 20px;
	height: 30px;
	border-bottom: 1px solid grey;
}

div.files:hover .files_actions{
	opacity: 1;
}
div.folder:hover > .files_actions{
	opacity: 1;
}
span.files{
	background-color: transparent;
}
.files_actions{
	-webkit-transition: opacity 0.2s ease-in-out;
  	-moz-transition: opacity 0.2s ease-in-out;
  	-o-transition: opacity 0.2s ease-in-out;
  	transition: opacity 0.2s ease-in-out;
	position: absolute;
	right: 10px;
	opacity: 0.6;
}

.files_actions:hover{
	opacity: 1;
}

.player{
	-webkit-transition: width 0.5s ease-in;
  	-moz-transition: width 0.5s ease-in;
  	-o-transition: width 0.5s ease-in;
  	transition: width 0.5s ease-in;
	margin-top: -4px;
	width:45px;
	background-color: red;
	color: white;
	margin-right:10px;
}
.player:hover{
	margin-top: -4px;
	width:300px;
}