div.singleupdate{
	padding-top:15px;
	padding-bottom: 20px;
	width: 100%;
	background-color: transparent;
	text-align: left;	
	position: relative;
}

.inputtext{
	padding-left:7px;
	margin-top: 2px;
}
.inputtext_send{
	border-radius: 0;
}

div.comment_box{
	position:relative;
	padding: 10px;
	background-color: rgba(155,130,255,0.2);
	margin-top:30px;
	text-align: left;
}
.comment_box:before 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: rgba(155,130,255,0.2) transparent;
	display: block;
	width: 0;
	top: -10px;
	left: 17px;
}

hr{
	margin-top: 20px;
	margin-left:-25px;
	margin-right:-25px;
	border: 1px lightgrey solid;
	border-bottom: 0;
}
hr.filter{
	/*box-shadow: 0px 0px 25px black;*/
}
ul.select {
    display: none;
}

ul.select > li {
    width: 100%;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
}

ul.select > li:hover {
    background: rgba(0,0,0,0.1);
}
li.filter{
	margin: 0;
	border:0;
}
h3{
	color:grey;
	text-decoration: none;
	font-weight:normal;
	font-size: 14px;
	margin-bottom: 5px;
}

table.singleupdate{
	width: 100%;
	text-align: left;	
	font-family: century gothic;
	position: relative;
}
input[type="submit"].status_post { /* POST button */
}
div.status_text{
	resize: none;
	width:100%;
	min-height: 35px;
	background-color: white;
	border: 1px lightgrey solid;
	padding: 5px;
	display: block;
	transition: all 0.5s;
	-webkit-transition: all 0.5s; /* Safari */
	border-radius: 0px;
}
.status_button{
	border-radius: 0px;
}
div.status_text img{
	max-height: 200px;
	margin:10px;
}
div.status_text:focus{
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    font-size:14px;
    color: lightgrey;
}
a.userlink{
	text-decoration: none;
	color: darkgrey;
}
a.userlink:hover{
	text-decoration: underline;
}

img.img{
	width: 100%;
	height: auto;
}
img.add_image_status_icon{
	cursor: pointer;
}

div.imagewrap{
	max-width: 100px;
	max-height: 100px;
    overflow: hidden;
	left: 0;	
}
td.update{
	width: 60%;
	vertical-align: top;
}

td.updatepic{
	width: 150px;
	vertical-align: top;
}
img.icon{
	margin-left: 12px;
}

div.chatinput{
	margin-top: 0em;
}

span.vote_percentage{
	margin-left: 50px;
	color: grey;
}

div.inputtext{
	width:100%; 
	background-color: white;
	resize: none; 
	border-radius: 2px;
	border:2px solid lightgrey;
}
div.friends_bar{
	width:31;
	background-color: black;
}

.user_name_post{
	text-decoration: none;
	font-family: century gothic;
	color:grey;

}