/*CONTROLS*/
input[type="submit"] {
    background-color:white;
    color:orange;
    padding:10px;
    font-size: 1.05em;
    border-width: 1px;
    border-style:solid;
    border-color:lightgrey;
    text-decoration:none;
    cursor:pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #FAFAFA;
}

input[type="submit"].small_round, input[type="button"].small_round, button.small_round{
    height: 35px;
    font-size: 12px;
    line-height: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgrey;
}

input[type="submit"].small_style, input[type="button"].small_style, button.small_style{
    height: 35px;
    font-size: 12px;
    line-height: 10px;
    border-width: 1px;
    border-color: grey;
    color:grey;
}
input[type="submit"].small_style:hover, input[type="button"].small_style:hover, button.small_style:hover{

    color:orange;
}

button {
    font-family: century gothic, Tahoma, Geneva, sans-serif;
    background-color:white;
    color:orange;
    padding:10px;
    font-size: 1.05em;
    border:1px solid lightgrey;
    text-decoration:none;
    cursor:pointer;
    border-radius: 5px;
}

input[type="button"] {
    font-family: century gothic, Tahoma, Geneva, sans-serif;
    background-color:white;
    color:orange;
    padding:10px;
    font-size: 1.05em;
    border:1px solid lightgrey;
    border-radius: 0px;
    text-decoration:none;
    cursor:pointer;
    border-radius: 5px;
}

input[type="text"] {
    font-family: century gothic, Tahoma, Geneva, sans-serif;
    background-color:white;
    font-size: 1.05em;
    padding:7px;
    border-style:solid;
    border-color:lightgrey;
    border-width: 1px;
    border-radius: 0px;
    text-decoration:none;
    border-radius: 5px;
}

input[type="text"]:focus {
    color:black;
    border-radius: 0px;
}

input[type="password"] {
    font-family: century gothic, Tahoma, Geneva, sans-serif;
    background-color:white;
    font-size: 1.05em;
    padding:7px;
    border-width: 1px;
    border-style:solid;
    border-color:lightgrey;
    text-decoration:none;
    border-radius: 0px;
    border-radius: 5px;
}

input[type="password"]:focus {
    font-family: century gothic, Tahoma, Geneva, sans-serif;
    background-color:white;
    color:black;
    padding:7px;
    border-width: 1px;
    border-style:solid;
    border-color:lightgrey;
    text-decoration:none;
    border-radius: 0px;
}

input:focus, textarea:focus, div[contenteditable]:focus{
    outline: none !important;
    border:1px solid rgb(66, 184, 221);
    box-shadow: 0 0 5px #EDEDED;
}
input[type="file"] {
    cursor:pointer;
    padding:2px;
    text-indent: 3px;
    color: rgb(66, 184, 221);
}

.default_dropdown_selector{
    position: relative;
    background-color:white;
    background-image: url('../Images/down1.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    color: grey;
    border:1px solid transparent;
    padding:2px;
    padding-left: 15px;
    padding-right: 50px;
    font-size: 13px;
    cursor: pointer;
    max-width: 200px;
    min-width: 100px;
}
.default_dropdown_selector:hover{
    -webkit-box-shadow: inset 0 -10px 30px -10px lightgrey;
    border:1px solid lightgrey;
}

.default_dropdown_wrapper{
    border:1px solid lightgrey;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: white;
    position: absolute;
    top:23px;
    left:-1px;
    z-index: 2164178;
    box-shadow: 0px 5px 10px lightgrey;
}

.default_dropdown_menu{
    width:200px;
}

.default_dropdown_item{
    background-color: white;
    height:20px;
    font-size: 13px;
    padding:3px;
    text-align: left;
    border:1px solid transparent;
}
.default_dropdown_item:hover{
    background-color:rgb(28, 184, 65);
    color: white;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}

.default_dropdown_active{
    -webkit-box-shadow: inset 0 -10px 30px -10px lightgrey;
    border:1px solid lightgrey;
}


.map_container{
    position: absolute;
    top:0px;
    bottom:0px;
    width:100%;
    border:1px solid rgb(66, 184, 221);
    /*box-shadow: 0px 0px 5px rgb(66, 184, 221);*/
}



.feed_selector{
    position: relative;
    display: inline-block;
    border-bottom: 3px solid #cc181e;
    min-width: 100px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    color: #333;
    padding:10px;
    font-size: 11px;
    font-weight: bold;
    font-family: arial;
}

.feed_selector:hover{
    opacity: 1;
}

.feed_selector_container{
    position: relative;
    border-bottom: 3px solid blue;
}

.active_feed{
    opacity: 1;
}

.tooltip{
    border: 1px solid grey;
    background-color: black;
}
.tooltip:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right:10px solid black; 
    width: 0;
    top: 10px;
    left: -10px;
}


.dialog_container{
    position: fixed;
    left: 50%;
    top:40%;
    margin-left: -200px;
    min-width:300px;
    z-index: 41329658;
    background-color: white;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.4);
    padding: 10px;
    padding-bottom: 45px;
    padding-top: 40px;
    overflow: hidden;
    font-size: 13px;
    max-width: 70%;
    width: 400px;
}
.dialog_title{
    position: absolute;
    left:0px;
    right: 0px;
    top:0px;
    background-color: #F8F8F8;
    color: grey;
    font-weight: bold;
    padding:5px;
    font-family: arial;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
}
.dialog_buttons{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid lightgrey;
    position: absolute;
    bottom: 0px;
    background-color: white;
}
.dialog_loading{
    float:left;
    display: none;
    padding-bottom: 2px;
    padding-top: 5px;
    padding-left: 5px;
    height: 23px;
}

.dialog_close_button{
    float: right;
    color: lightgrey;
    cursor: pointer;
}
.dialog_close_button:hover{
    color: black;
}

.progress_container{
    height: 10px;
    width:100%;
    padding:2px;
    background-color: #EDEDED;
    border-radius: 10px;
    border:1px solid lightgrey;
}
.progress_bar{
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color:lightblue;
}

.ellipsis_overflow{
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.scroll_thin::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.scroll_thin::-webkit-scrollbar-track {
    background-color: white;
}
.scroll_thin{scrollbar-arrow-color: black;}

.scroll_thin::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
}
.scroll_thin::-webkit-scrollbar-thumb:hover {
    background-color: dimgrey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    cursor: pointer;
}
@-moz-document url-prefix(http://),url-prefix(https://) {

    scrollbar {
       -moz-appearance: none !important;
       background: rgb(0,255,0) !important;
    }

    thumb,scrollbarbutton {
       -moz-appearance: none !important;
       background-color: rgb(0,0,0) !important;
    }

    thumb:hover,scrollbarbutton:hover {
       -moz-appearance: none !important;
       background-color: rgb(255,0,0) !important;
    }

    scrollbarbutton {
       display: none !important;
    }
    scrollbar[orient="vertical"] {
      min-width: 15px !important;
    }
}*/
.scroll_thin, .scroll_thin_horizontal{
    overflow: auto;
    //position: relative;
}



.small{
    padding: 4px;
    font-size: 13px;
    min-width: 80px;
}
.smallest{
    padding:2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}
.singlechar{
    padding: 2px;
    font-size: 15px;
}
.large{
    padding:5px;
}
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary,
.pure-button-primary,
.pure-button-yellow,
.pure-button-neutral {
    font-family: 'lucida grande', tahoma, sans-serif;
    color: white;
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border:1px solid grey;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
}
.pure-button-neutral{
    color: black;
    background-color: lightgrey;
    border:1px solid lightgrey;
    background-image: -webkit-linear-gradient(top, rgb(240,240,240) 25%, lightgrey 60%);
    /*	box-shadow: inset 0 -2px -1px white;
    */	box-shadow: inset 0 -2px 2px -2px white;
}
.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.pure-button-primary{
    background-color: #0078e7;
}
.pure-button-yellow{
    background-color: orange;
}
.styled-select select {
    font-family: century gothic;
    background: transparent;
    width: 100%;
    font-size: 1.05em;
    border:0px;
    padding:5px;
    color: darkgrey;
    -webkit-appearance: none;
}
.styled-select select:focus{
    color: black;
}

.styled-select {
    width: 100%;
    overflow: hidden;
    background: url(../Images/down_arrow_select.png) right white;
    background-repeat: no-repeat; 
    background-size:contain;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.user_preview_info{
    position: fixed;
    border:1px solid rgb(66, 184, 221);
    min-height: 70px;
    min-width: 300px;
    max-width: 450px;
    max-height: 500px;
    background-color: white;
    border-radius: 1px;
    padding: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    z-index: 10;
}

.user_preview_community, .user_preview_position{
    font-size: 14px;
    color: grey;
}

.user_preview_community{
    cursor: pointer;
}

.user_preview_community:hover{
    text-decoration: underline;
}
.user_preview_name{
    font-size: 14px;
    color: rgb(66, 184, 221);
    cursor: pointer;
}
.user_preview_name:hover{
    text-decoration: underline;
}
.user_preview_about{
    font-size: 14px;
    color: grey;
    font-style: italic;
}
.user_preview_buttons{
    /*border-top:1px solid lightblue;*/
    /*background-image: -webkit-linear-gradient(bottom,lightgrey, white);*/
    //position: absolute;
    // bottom: 0px;
    //right:1px;
    //left:1px;
    padding-top: 5px;
    float: right;
}
.user_preview_arrow-left, .user_preview_arrow-right{
    position: absolute;
    width: 0; 
    height: 0; 
    top:5px;
}
.user_preview_arrow-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    right:-10px;
}
.user_preview_arrow-left{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    left:-10px;
}
.user_preview_arrow-left-border, .user_preview_arrow-right-border{
    position: absolute;
    width: 0; 
    height: 0; 
    top: 4px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}
.user_preview_arrow-left-border{
    left:-12px;
    border-right: 12px solid rgb(66, 184, 221);
}
.user_preview_arrow-right-border{
    right:-12px;
    border-left: 12px solid rgb(66, 184, 221);
}
/*END CONTROLS*/

/*WELCOME*/

div.headerbar{
    width: 100%;
    background-color: #F8F8F8;
    margin: none;
    height: 33px;
    position: fixed;
    top: 0px;
    z-index: 10;
    display: block;
    /*box-shadow: 0px 0px 5px 5px white;*/
    border-bottom: 1px solid lightgrey;
}

div.navigation{
    position: relative;
    width: 100%;
}
.navigation_link_img{
    width: 16px;
    height: 16px;
    position: absolute;
}
div.user_info{
    width:100%;
}
div.user_info:hover{
    background-color: #F8F8F8;
}

div.welcome_user_profile_picture{
    position: relative;
    height:40px;
    width:40px;
    background-size:cover;
    border-radius: 1px;
    margin-right: 5px;
    border-right:0px solid white;
}
/*
div.welcome_user_profile_picture:after{
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    width: 0;
}*/

div.welcome_user_info{
    position: relative;
    padding-left: 10px;
    padding-top: 2px;
}

div.welcome_user_info:after{
    content: '';
    position: absolute;
    top: 0; 
    left: -5px;
    border-bottom: 10px solid transparent;
    /*border-left: 10px solid white;*/
    width: 0;
}

div.welcome{
    padding: none;
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    display: table-cell;
}

div.message{
    padding: 0px;
    background-color: transparent;
    margin: 0px;
    height: 100%;
    top: 5px;
    position: absolute;
}
div.notification{
    padding: 0px;
    background-color: transparent;
    top: 5px;
    position: absolute;
    left:30px;
}
div.network{
    padding: 0px;
    background-color: transparent;
    top:5px;
    left:60px;
    position: absolute;
}

div.search{
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

div.gear{
    padding: 0px;
    background-color: transparent;
    top:8px;
    right:-30px;
    position: absolute;
    z-index: 1231;
}

div.search_results{
    overflow:auto;
    max-height:400px; 
    position:relative; 
    max-width:387px;
    padding:2px;
    border: 1px solid lightgrey; 
    background-color:white;
    box-shadow: 0px 5px 15px lightgrey;
}

img.profile_picture_small_welcome{
    border: 1px grey solid;
    height:17px; 
    max-height:17px; 
    position: relative;
    vertical-align: middle;
    margin-right:15px;
}

input[type="text"].search_box{
    font-size:0.8em;
    max-height: 28px;
    width: 350px;
    background-color:white;
    color:black;
    padding:5px;
    border:1px solid lightgrey;
    text-decoration:none;
    margin-top: 2px;
}
img.logout_image_small{
    top:8px;
}

img.privacy_image_small{
    top:8px;
    position: fixed;
    vertical-align: middle;
    line-height: 100%;
    right:280px;
}

img.message{
    height:20px;
    width:20px; 
    cursor: pointer;
    opacity:0.2;
    filter:alpha(opacity=20); /* For IE8 and earlier */
}

img.message:hover{
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

img.notification{
    height:20px;
    width:20px; 
    cursor: pointer;
}
#notification{
    padding-top: 1px;
}

img.network{
    height:20px;
    width:20px; 
    cursor: pointer;
}
#network{
    padding-top: 1px;
}
img.message_notification{
    position: absolute;
    top:-5px;
    left: 10px;
    cursor: pointer;
    width:20px;
    height:20px;
}

td.navigation{
    margin: 0px;
    padding-left: 5%;
}

img.navigationpicture{
    margin-left: 70px;
}

.left_bar_container{
    position: fixed;
    left: 150px;
    top: 55px;
    bottom: 0px;
    width: 200px;
}

td.welcome{
    margin: 0px;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 20%;
}
td.welcome:hover{
    cursor: pointer;
}

table.divide{
    float: left;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    font-family: century gothic;
    font-size: 0.8em;
    width: 100%;
}

li ul {                   /* DEcides if showing or not */
    position: absolute;
    top: 40px;
    display: none;
    margin: 0px;
    font-size: 1em;
    background-color: #EDEDED;
}

ul li {
    position: relative;
    margin: 0px;
    border: 1px solid lightgrey;
    margin-bottom: 0px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: 0px;
    margin: 0px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

li:hover{
    /*height:27px;*/
    /*border-bottom: 3px solid grey;*/
    /*box-shadow: inset 0 -10px 10px -10px #000000;
-moz-box-shadow: inset 0 -10px 10px -10px #000000;
-webkit-box-shadow: inset 0 -10px 10px -10px #000000;   			inset shadow bottom only	*/ 
}
li.name{
    height:32px;
    border-bottom:0px;
    border-top: 0px;
    padding-top:1px;
}
li.name:hover{
    height:30px;
    border-bottom: 3px solid grey;
}

li.current_page{
    background-color: #F8F8F8;
}
.current_page_user{
    background-color: #F8F8F8;
}

li.nav_option{
    width:100%;
    border:0;
    border-bottom:1px solid white;
    text-align: left;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    white-space: nowrap;
    text-indent: 20px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

li.nav_option:hover{
    background-color: #EDF8FF;
}

ul.personal {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 250px;
    text-align: center;
}

li.personal {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 150px;
    text-align: center;
    border-style: none;
}

a.personal {
    display: block;
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid #ccc;
    border-style: none;
    border-bottom: 0px;
    margin: 0px;
}
a.none{
    background-color: transparent;
    border-style: none;
}

a.none:hover{
    background-color: transparent;
    border-style: none;
}

#messagediv:before{
    left: 0px;
}

div.popup_div{
    display: none;
    width: 300px;
    max-width: 300px;
    background-color: rgba(253,253,253,0.99);
    position: relative;
    border: solid 1px lightblue;
    max-height: 400px;
    box-shadow: 0px 5px 25px lightgrey;
    /*	position: fixed;
            right: 220px; /*620px for center
            left: 0px;*/
    top: 23px;
    left:-5px;
    margin: 0px auto;
    z-index: 231542;
}

.popup_div:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 11px 11px;
    border-color: lightblue transparent;
    display: block;
    width: 0px;
    top: -11px;
    left: 0px;
}
.popup_div:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 10px 10px;
    border-color: white transparent;
    display: block;
    width: 0px;
    top: -10px;
    left: 1px;
}
div.geardiv{
    position: absolute;
    top:30px;
    right: 0px;
}
div.popup_content{
    overflow: auto;
    max-height: 335px;
}

div.popup_top{
    background-color: white;
    text-align: center;
    height: 23px;
    border-bottom: 1px solid lightblue;
}
.popup_header{
    font-size: 15px;
    font-weight: bold;
    color:grey;
}

img.composemessage{
    float: right;
    margin-right: 5px;
    height:20px;
    width:20px; 
    cursor: pointer;
}

ul.message {
    padding: 0px;
    list-style: none;
    width: 100%;
    text-align: left;
}

ul.notification {
    padding: 0px;
    list-style: none;
    width: 100%;
    text-align: left;
}

hr.messagedivide{
    border: 0px;
    height: 1px;
    color: grey;
}

li.message, li.messageunread, li.info{
    opacity: 0.9;
    border:0;
    border-bottom: 1px solid lightgrey;
    border-top: 0px;
    position: relative;
    margin: 0px;
    background-color: white;
    word-wrap:break-word;
    padding:7px;
    cursor: pointer;
}
li.messageunread{
    background-color: #FAFAFA;
}
li.message:hover{
    opacity: 1;
}
li.info{
    cursor: default;
    background-color: #FAFAFA;
    background-image: url('../Images/fresh_snow.png');

}
a.message{
    vertical-align: top;
    border:0;
    padding:0;
}
a.message:hover{
}

.notification_user_image{
    /*border:1px solid lightgrey; */
    margin-right:10px;
    height: 50px;
    width: 50px;
    background-size: cover;
}
.notification_name{
    /*font-weight: bold;*/
    font-size: 13px;
}
.notification_info{
    color:grey;
    font-size: 12px;
}
/*END WELCOME*/

.user_name{
    text-decoration: none;
    color:grey;
    font-weight: bold;
}
.current_user_name_edit{
    text-decoration: none;
    color:grey;
    font-size: 0.9em;
}
.edit_user_text{
    text-decoration: none;
    color:grey;
    font-size: 0.8em;
}

.info_table_layout{
    padding-top: 20px;
    margin-left:20px;
    margin-bottom:20px;
    margin-right: 20px;
    width: 95%;
}
tr{
    vertical-align: top;
}
body{
    background-color:white;
}
::selection{
    background: lightblue;
}

html, body { 
    margin: 0px; padding: 0px;
}
*{
    font-family: century gothic;
}
img{
    max-width:500px;
    max-height: 500px;
    height: auto;
}
small{
    font-size:10px;
    display:block;
    text-align:right;
}
textarea {
    font-family: century gothic, Tahoma, Geneva, sans-serif;
    background-color:white;
    padding:5px;
    border-width: 2px;
    border-style:solid;
    border-color:lightgrey;
    text-decoration:none;
    resize:vertical;
}

textarea.thin {
    font-family: century gothic, Tahoma, Geneva, sans-serif;
    background-color:white;
    padding:5px;
    border: 1px solid lightgrey;
}

label {
    color:dimgrey;
    font-size: 1.3em;
}
h1{
    border-radius: 5px;
    padding: 2px;
    width: 50%;
    color: black;
    text-align: center;
}
a{
    text-decoration: none;
}
a:visited{
    /*color:black;*/
}
a:hover{
    /*color:black;*/
}
a:active{
    /*color:black;*/
}
a:focus{
    /*color:black;*/
}

a.connect{
    color: black;
    font-weight:bold;
    text-decoration:none;
}
a.connect:hover{
    /*text-decoration:underline;*/
}
div.container, div.container_home{
    position: relative;
    top:33px;
    padding-bottom: 50px;
    text-align: middle;	
    border:1px solid lightgrey;
    border-top: 0px;
    min-width: 690px;
    max-width:800px;
    min-height:600px;
    margin: auto;
    margin-left:auto;

}
div.container_home{

}
div.container_home img{
    /*margin-top:10px;*/
    /*margin-bottom: 10px;*/
}
div.container_headerbar{
    position: relative;
    top: 0px;
    min-width: 692px;
    max-width: 800px;
    margin: 0px auto;
}
div.login_container{
    position: absolute;
    right: 0px;
    left: 0px;
    height: 55px;
    text-align: middle;	
    position: center; 
    background-color: rgba(155,130,255,0.05);
    border:1px solid lightgrey;
}

div.links{
    position: absolute;
    margin-top: 456px;
    bottom:0px;
    left: 0px;
    right: 0px;
    padding-left: 30px;
}

table td tr{
    padding:0px;
    margin:0px;
}

.scroll_medium{
    overflow:auto;
    overflow-x:hidden;
}

.scroll_medium::-webkit-scrollbar {
    width: 10px;
}
.scroll_medium::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px lightgrey;
    border-radius: 5px;
}

.scroll_medium::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
    background-image: url('../Images/grey_wash_wall.png');
}
.scroll_medium::-webkit-scrollbartrack:hover{
    width: 20px;
}
.warning_red{
    border: 1px grey solid;
    background-color: orange;
    border-radius: 5px;
    text-align: center;
}

.browser_warning{
    position: absolute;
    top:100%;
    right:0px;
    left:0px;
    margin: 40px;
    border:1px red solid;
    border-radius: 1px;
    text-align: center;
    background-color: orange;
    color:white;
    font-size: 1.5em;
    padding: 5px;
}

.background-overlay{
    position:fixed;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-color:black;
    z-index:1000;
}

.theater-picture{
    z-index:1002;
    background-color:black;
    position: fixed;
    width: 90%;
    height: 80%;
    min-width: 250px;
    min-height: 50%;
    max-height: 90%;
    max-width: 90%;
    background-color:rgba(0,0,0,0.9);
    z-index:1001;
    left:0px;
    right:0px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    margin-bottom:20px;
}

.theater-picture-container{
    float:left;
    width:49%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.theater-info-container{
    position:absolute;
    right:0px;
    top: 0px;
    bottom: 0px;
    width:47%;
    background-color:rgba(255,255,255,1);
    padding: 20px;
    overflow-y: auto;
    overflow-x:hidden;
}

.close-theater{
    position: absolute;
    top: 2px;
    right:2px;
    width: 25px;
    height: 25px;
    z-index:10512349030;
    background-image: url("../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/times.png");
    background-size: contain;
    opacity: 0.5;
    cursor: pointer;
}

.close-theater:hover{
    opacity: 1;
}

.who_liked{
    position: absolute;
    /*left:0px;*/
    margin-top: 10px;
    background-color: white;
    /*margin-left: 20px;*/
    padding:10px;
    display:none;
    font-size: 12px;
    border:1px solid rgb(66, 184, 221);
}

.who_liked:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0px 5px 5px;
    border-color: rgb(66, 184, 221) transparent;
    display: block;
    width: 0px;
    top: -5px;
    left: 15px;
}


/*FRIEND LIST*/
div.friends_bar{
    width:31px;
    background-color: black;
}

div#friends_container{
    position:absolute;
    left: 0px;
    right: 0px;
    z-index: 120;
    
}
div#friends_bar{
    border-top: 1px solid #EDEDED;
    height: 70%;
    z-index: 120;
}
div#friend_load{

}
li.friend_list_on:hover, li.friend_list_off:hover, li.friend_list_group:hover{
    background-color: #EDEDED;
}
li.friend_list_on, li.friend_list_off, li.friend_list_group{
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    background-repeat: no-repeat;
    background-color: transparent;
    border:0px;
    width:100%;
    border-bottom: 1px solid #EDEDED;
    background-color: white;
    z-index: 2;
}
li.friend_list_on, li.friend_list_off{

}
li.friend_list_on{
    border-left:2px solid limegreen;
}
li.friend_list_off{
    border-left:2px solid red;
}
li.friend_list_group{
    border-left:2px solid blue; 
}
li.filter:hover{
    border:0px;
}
a.friend_list{
    border-bottom-right-radius: 0px;
    color:grey;
    font-size:12px;
    text-align:left;
    text-indent: 30px;
    padding:7px; 
    background-repeat: no-repeat; 
    background-position: 0%;
    background-size: contain;
    max-width: 90%;
    white-space: nowrap;
}

span:hover{
    border:0px;
}

.thin_blue_header{
    font-size:400%;
    color: #1f8dd6;
    font-weight: 100;
    display: block;
    float:left;
}

.thin_subtitle{
    color:#666;
    font-size: 150%;
    display: block;
    float: left;
}

/* SEARCH */

div.search_option{
    background-color: white;
}
div.search_option_match{
    background-color: rgb(250, 250, 250);
}
div.search_option_match, div.search_option{
    cursor:pointer;
    min-height: 40px;
    padding: 5px;
    vertical-align: top;
    width: 100%;
}
div.search_option_match:hover, div.search_option:hover{
    background-color: rgb(250, 250, 250);
}
.search_picture{
    background-color: transparent;
    width: 40px;
    height:40px;
    float: left;
    background-size: cover;
    background-position:center; 
    background-repeat: no-repeat;
}
.search_option_name{
    color: black;
    margin-left: 5px;
    font-size: 13px;
}
.search_option_info{
    font-size: 12px;
    margin-left: 5px;
    color: grey;
}

div.name_selector{
    background-color: white;
    cursor: pointer;
    min-height: 40px;
    padding:5px;
    vertical-align: top;
    border-bottom: 0px lightgrey dotted;
}

div.match{
    background-color: #FAFAFA;
    cursor: pointer;
    min-height: 40px;
    padding:5px;
    vertical-align: top;
    border-bottom: 0px lightgrey dotted;
}

div.name_selector:hover{
    background-color: #FAFAFA
}


img.profile_picture{
    background-color:lightgrey; 
    width:40px;
    height:40px; 
    float:left;
}
a.search_option{
    color:black;
    text-decoration: none;
}

/* END SEARCH*/

.audio_info{
    width:80%;
    float:left;
}
.audio_buffered{
    position: relative;
    min-height:5px;
    width:0%;
    background-color:lightgrey;
    opacity: 0.5;
    margin-top: -5px;
    z-index: 0;
}
.audio_progress_container{
    height:5px;
    background-color: #EDEDED;
    border-radius: 5px;
    cursor: pointer;
}
.audio_progress{
    position: relative;
    border-radius: 5px;
    height:100%;
    width:0%;
    background-color: rgb(66, 184, 221);
    z-index: 1;
}
.audio_progress:after{
    content: '';
    position: absolute;
    width: 7px; 
    top:-2px;
    height: 7px; 
    right: -5px;
    border-radius: 50%;
    background-color: lightgrey;
    border:1px solid grey;
}
.audio_progress:hover:after{
    background-color: white;
}

.audio_button{
    height:40px; 
    width:40px;
    margin-top: 3px;
    margin-right: 10px;
    background-size:contain;
    background-repeat:no-repeat;
    float: left;
    cursor: pointer;
    background-image: url('../Images/Icons/Icon_Pacs/glyph-icons/glyph-icons/PNG/Play.png');
    opacity: 0.7;
}
.audio_container{
    position: relative;
    display: block;
    max-width: 100%;
    min-height: 45px;
    border-radius: 0px;
    border:1px solid lightgrey;
    padding: 10px;
    //background-image: -webkit-linear-gradient(top, white, lightgrey);
    background-color: white;
    box-shadow: inset 0px 0px 5px white;
}
.audio_remove{
    position:absolute;
    top:0px;
    right:4px;
    width:10px;
    height:10px;
    cursor: pointer;
    font-weight: bold;
}
.audio_title{
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    max-width: 80%;
}
.audio_time{
    float:right;
    font-size: 14px;
    color:grey;
}

/*HOME*/
div.singleupdate{
    padding-top:15px;
    padding-bottom: 20px;
    width: 100%;
    background-color: transparent;
    text-align: left;	
    position: relative;
}
.home_feed_container{
    /*width: 60%;*/
}_
.inputtext_send{
    border-radius: 0;
}

div.comment_box{
    position:relative;
    padding: 3px;
    background-color: #edeff4;
    margin-top:30px;
    text-align: left;
}

.comment_box:before 
{
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    left: 17px;

    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid #edeff4;
}

.post_text{
    overflow: hidden;
    font-size:13px;
}
div.post_height_restrictor{
    padding: 20px;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
}

.single_comment_container{
    padding:2px;
}
.post_comment_text{
    font-size:12px;
}
.post_comment_profile_picture{
    width:40px;
    height: 40px;
    background-size: cover;
    border: 0px;
}
.post_comment_user_name{
    white-space:nowrap;
    color:grey;
    font-size:12px;
    padding-left:5px;
    padding-right:5px;
}
.post_comment_time{
    font-size: 11px;
    color:black;
    margin-left: 5px;
}
hr.post_user_name_underline{
    border:1px solid lightgrey;
    border-bottom: 0px;
    line-height:22px;
    display: block; 
    margin: 10px 0;
}
hr.post_splitter{
    margin-top: 0px;
    border: 1px lightgrey solid;
    border-bottom: 0;
}
hr.post_comment_seperator{

    border: 1px white solid;
    border-bottom: 0;
    margin:0px; 
    margin-left:-10px; 
    margin-right:-10px; 
}
hr.filter{
    /*box-shadow: 0px 0px 25px black;*/
}
.home_like_icon{
    cursor: pointer;
    border-radius: 50%;
    border:1px solid transparent;
}
.home_like_icon:hover{
    border:1px solid grey;
}
ul.select {
    display: none;
}

ul.select > li {
    width: 100%;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
}

ul.select > li:hover {
    background: rgba(0,0,0,0.1);
}
li.filter{
    margin: 0;
    border:0;
}
h3{
    color:grey;
    text-decoration: none;
    font-weight:normal;
    font-size: 14px;
    margin-bottom: 5px;
}

table.singleupdate{
    width: 100%;
    text-align: left;	
    font-family: century gothic;
    position: relative;
}

.post_wrapper{
    position:relative;
    border:1px solid lightgrey;
}

.status_text{
    resize: none;
    min-height: 35px;
    background-color: white;
    border-radius: 0px;
    font-size: 13px;
    border:0;
    //height:100%;
    width: 100%;
    display: block;
    overflow: hidden;
}
.status_text:focus{
    outline: none !important;
    border:0;
    box-shadow: none;
}

.status_button{
    border-radius: 0px;
}
.post_feed_media_wrapper, .post_media_wrapper{
    position: relative;
    border-top:1px solid lightgrey;
    min-height:50px;
    display: none;
    padding:10px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-top: 10px;
    background-color: #FAFAFA;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    background-image: url('../Images/stripe.png');
}

.post_feed_media_wrapper{
    margin-top: 20px;
    border: 1px dotted lightblue;
    border-top: 1px solid lightgrey;
    text-align: center;
    display: block;
}

.post_media_wrapper{
    content: "Add Files here...";
    padding:20px;
    padding-bottom: 10px;
}
.post_media_wrapper_background{
    position: absolute;
    height: 100%;
    width: 95%;
    color: grey;
    //font-family: Comic Sans MS, Monotype Corsiva, Bradley Hand ITC, Tempus Sans ITC, French Script MT;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}
.post_feed_item, .post_media_single{
    border:1px solid lightgrey;
    display: inline-block;
    //border-radius: 5px;
    background-color: white;
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: top;
    position: relative;
    border-collapse: separate;
    border-spacing: 5px;
}
.post_media_audio{
    width: 474px; //314 too small
    height:auto;
    padding:0px;
    border:0px;
    height: auto;
}
.post_media_full{
    width: 474px; // plus margins and borders of other elements makes higher than 450
}
.post_media_video{
    width: 474px; 
}
.post_media_webpage_favicon{
    background-size: contain;
    height: 100%;
    width: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid lightgrey;
    margin-right: 10px;
}

.post_media_single_close{
    position: absolute;
    top: 2px;
    right: 2px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/delete-outline.png");
    z-index: 12;
    background-color: white;
    border-radius: 50%;
}
.post_media_single_close:hover{
    background-image: url("../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/delete.png");
    cursor: pointer;
}

.post_media_single_close_background{
    border-radius: 50%;
    //border-top-right-radius: 0px;
    border: 1px solid lightgrey;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: white;
    width: 22px;
    height: 22px;
    display: none;
}
.post_media_loader{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    display: none;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.post_content_wrapper{
    position: relative;
}
#file_share{
    /*max-height: 200px;*/
    padding-left:2px;

    /*width:200px;*/
    height:100%;
    border-left:1px solid lightgrey;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    display: none;
    position: absolute;
    right:0px;
    width:195px;
    top: 0px;
    bottom:45px;
}
#file_share:hover{
    //max-height: 500px;
}

.post_more_options{
    position: absolute;
    bottom: 0px;
    left:0px;
    right:0px;
    border-top:1px solid lightgrey; 
    display:none; 
    background-color: white;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    font-size:13px;
    color: grey;
}
div.home_feed_post_container{
    padding-left:10px;
    padding-right:10px;
    border-bottom: 1px solid lightgrey;
}
a.userlink{
    text-decoration: none;
    color: darkgrey;
}
a.userlink:hover{
    text-decoration: underline;
}

img.img{
    width: 100%;
    height: auto;
}
img.add_image_status_icon{
    cursor: pointer;
}

div.imagewrap{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    left: 0;	
}
td.update{
    width: 70%;
    vertical-align: top;
}

td.updatepic{
    vertical-align: top;
    width:65px;
}
img.icon{
    margin-left: 12px;
}

div.chatinput{
    margin-top: 0em;
}

span.vote_percentage{
    margin-left: 50px;
    color: grey;
}

div.inputtext{
    width:100%; 
    background-color: white;
    resize: none; 
    border:1px solid lightgrey;
    font-size: 12px;
    padding:3px;
    min-height: 17px;
    line-height: 17px;
    max-width: 100%;
    word-break:break-word;
}

.user_name_post{
    font-size: 14px;
    font-weight: bolder;
}
.post_feed_link{
    color:rgb(66, 184, 221);
}
.post_feed_link:hover{
    text-decoration: underline;
}
/*END HOME*/

/*FILES*/

img.download{
    height: 30px;
    width:30px;
    margin-top:1em;
}

div.newfile{
    padding: 20px;
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    top: 1em; 
    width: 50%;
    background-color: transparent;
}

div.file{
    position: relative;
    top: 1em; 
    margin-bottom: 0em; 
    margin-left:20px;
    margin-right: 20px;
    /*border-bottom: 1px solid lightgrey;*/
}

button.upload{
    background-color: rgba(255,255,215,0);
    border-style:none;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 1em;
}

a.delete{
    float:right;
    color: red;
    font-size: 1em;
    text-decoration: underline;
}

a.delete:hover{
    color: red;
    font-size: 1em;
    text-decoration: underline;
}

h2 {
    font-size: 16px;
    text-align: center;
    padding: 0 0 12px 0; 
}

#container {
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
    position: relative;
    background: white; 
}
div.files, div.folder{
    padding:5px;
    padding-right: 0px;
    position:relative;
    min-height: 30px;
    border-top:1px dotted lightblue;
    /*border-left:1px solid lightblue;*/
    /*border-right: 1px solid lightblue;*/

    -webkit-transition: all 0.3s ease-out;  
    -moz-transition: all 0.3s ease-out;  
    -o-transition: all 0.3s ease-out;  
    transition: all 0.3s ease-out;  

    box-shadow: inset 0 0 0 transparent;
    background-color: transparent;
    z-index: 0;
    vertical-align: middle;
}
div.files:hover, div.folder:hover{

    box-shadow: inset 0 0px 10px 0px lightblue;
    -moz-box-shadow: inset 0 0px 10px 0px lightblue;
    -webkit-box-shadow: inset 0 0 10px 0px lightblue;

}
div.folder{

    cursor:pointer;
    background: -webkit-linear-gradient(top, white 85%, lightblue); 

}
div.files{
}

.file_folder_active{
    background-color: grey;
}
div.files:hover .files_actions{
    opacity: 1;
}
div.folder:hover > .files_actions{
    opacity: 1;
}

.audio_hidden_container{
    /*box-shadow: inset 0px 0px 40px 10px black;*/
    /*border-radius: 4px;*/
    border:2px solid lightgrey;
    padding:3px;
    display: none;
    position: absolute;
    right: 0px;
    /*background-image: url("../Images/classy_fabric.png");*/
    background-color: white;
    border: 1px solid rgb(66, 184, 221);
    min-width: 300px;
    width:auto; 
    z-index: 1;
}
.audio_hidden_container:after
{
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right:10px solid rgb(66, 184, 221); 
    width: 0;
    top: 10px;
    left: -10px;
}

.file_video{
    width: 300px;
    height: 230px;
}

p.files{
    background-color: transparent;
    font-size: 13px;
    line-height: 30px;
    color: grey;
    margin:0px;
    padding: 0px;
    max-width: 200px;
    white-space: nowrap;
}
.files_actions{
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top:0px;
    right: 340px;
    opacity: 0.6;
    display: inline-block;
}

.files_actions:hover{
    opacity: 1;
}
.files_actions_download, .files_actions_delete, .files_actions_share{
    background-repeat: no-repeat;
    background-size: cover;
}
.files_actions_download{
    background-image: url('../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/arrow-down.png');
}
.files_actions_download:hover{
    background-image: url('../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/arrow-down-outline.png');
}

.files_actions_delete{
    background-image: url('../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/delete-outline.png');
}
.files_actions_delete:hover{
    background-image: url('../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/delete.png');
}

.files_actions_share{
    background-image: url('../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/wi-fi.png');
}
.files_actions_share:hover{
    background-image: url('../Images/Icons/Icon_Pacs/typicons.2.0/png-48px/wi-fi-outline.png');
}

.files_actions_item{
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:20px;
    width:20px;
    cursor: pointer;
}
.files_actions_item:hover{
    height:25px;
    width:25px;
    /*box-shadow: inset 0px 0px 10px lightgrey;*/
}

hr.files_actions_seperator{
    height:20px;
    width: 1px;
    display: inline-block;
    border:0px;
    border-left:1px solid grey;
    margin-left:5px;
    margin-right: 5px;
}
/*END FILES*/

/*USER*/
div.profilepicturediv{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: lightgrey;
    position: relative;
}

div.profile_picture_upload{
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    height: 50px;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), black);
    color: white;
}

span.profile_picture_upload{
    color: white;
}

.name_title{
    margin:0px;
    margin-top:-8px;
    font-size: 2em;
}

div.about{
    margin-top: 30px;
    padding: 20px;
    position: center; 
    left: 2em; 
    top: 20px; 
    margin-left: 0; 
    width: 80%;
    background-color: rgba(255,255,255,0.5);
}

#invite_text_holder{
    position: absolute;
    top:250px;
}

#group_invites{
    position: absolute;
    top:270px;
}
/*END USER*/

/*LOGIN*/
div.login{
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    vertical-align: top;
}

div.loginbox{
    top: 0px;
    right: 50px;
    position: absolute;
}

h1.loginheader{
    position: absolute;
    color: #3578FC;
    font-size: 3em;
    left:100px;
    top: 0;
    margin:0;
}
div.login_container{

}
div.CMM{
    position: fixed;
    bottom: 0;
    left:250;
}

span.name{
    position: fixed;
    color: lightgrey;
    font-size: 10em;
    float: left;
    font-weight: bold;
    text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
}


span.about{
    position: absolute;
    color: black;
    font-size: 1.2em;
    left: 100px;
    top: 135px;
    margin-right: 550px;
    max-width: 50%;
    line-height: 40px;
}


div.signup{
    position: fixed;
    right: 130px;
    top: 100px;
}

div.signupbox{

}
h1.signupheader{
    font-size: 2em;
    font-weight: lighter;
}

a.loginas{
    text-decoration:underline;
    font-size:1em;
}
a.loginas:hover{
    text-decoration:underline;
    font-size:1em;
    color:blue;
}
/*END LOGIN*/