div.profilepicturediv{
	position: relative;
	float:left;
	top: 40px;
	max-width: 200px;
	max-height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: lightgrey;
}

div.pseudonym{
	margin-top: 35px;
	margin-left:180px;
}

div.about{
	margin-top: 30px;
	padding: 20px;
	position: center; 
	left: 2em; top: 1em; 
	margin-left: 0; 
	width: 80%;
	background-color: rgba(255,255,255,0.5);
}

#invite_text_holder{
	position: absolute;
	top:250px;
}

#group_invites{
	position: absolute;
	top:270px;
}