div.headerbar{
	width: 100%;
	background-color: #EDEDED;
	margin: none;
	height: 33px;
	position: fixed;
	z-index: 10;
	display: block;
	border-bottom:1px solid lightgrey;
	/*box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);*/
}

div.navigation{
	position: absolute;
	z-index: 1100;
	margin:0 auto;
	top: 40px;
}
div.user_info{
	width:200px;
}
div.user_info:hover{
	background-color: #EDEDED;
}
div.welcome{
	padding: none;
	background-color: transparent;
	height: 100%;
	left: 0px;
	position: relative;
	display: table-cell;
}

div.message{
	padding: 0px;
	background-color: transparent;
	margin: 0px;
	height: 100%;
	top: 5px;
	position: absolute;
}
div.notification{
	padding: 0px;
	background-color: transparent;
	top: 5px;
	position: absolute;
	left:30px;
}
div.network{
	padding: 0px;
	background-color: transparent;
	top:5px;
	left:60px;
	position: absolute;
}

div.search{
	position: absolute;
	right: 0px;
	top: 0px;
}

div.gear{
	padding: 0px;
	background-color: transparent;
	top:8px;
	right:-30px;
	position: absolute;
	z-index: 1231;
}

div.search_results{
	overflow:auto;
	max-height:400px; 
	position:relative; 
	max-width:387px;
	padding:2px;
	border: 1px solid lightgrey; 
	background-color:white;
	box-shadow: 0px 5px 15px lightgrey;
}

img.profile_picture_small_welcome{
	border: 1px grey solid;
	height:17px; 
	max-height:17px; 
	position: relative;
	vertical-align: middle;
	margin-right:15px;
}

input[type="text"].search_box{
	font-size:0.8em;
	max-height: 28px;
	width: 350px;
	background-color:white;
	color:black;
	padding:5px;
	border:1px solid lightgrey;
	text-decoration:none;
}
img.logout_image_small{
	top:8px;
}

img.privacy_image_small{
	top:8px;
	position: fixed;
	vertical-align: middle;
	line-height: 100%;
	right:280px;
}

img.message{
	height:20px;
	width:20px; 
	cursor: pointer;
	opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}

img.message:hover{
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

img.notification{
	height:20px;
	width:20px; 
	cursor: pointer;
}
#notification{
	padding-top: 1px;
}

img.network{
	height:20px;
	width:20px; 
	cursor: pointer;
}
#network{
	padding-top: 1px;
}
img.message_notification{
	position: absolute;
	top:-5px;
	left: 10px;
	cursor: pointer;
	width:20px;
	height:20px;
}

td.navigation{
	margin: 0px;
	padding-left: 5%;
}

img.navigationpicture{
	margin-left: 70px;
}

td.welcome{
	margin: 0px;
	white-space: nowrap;
	vertical-align: middle;
	padding-left: 20%;
}
td.welcome:hover{
	cursor: pointer;
}

table.divide{
	float: left;
	padding: 0px;
	margin: 0px;
	height: 100%;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
	font-family: century gothic;
	font-size: 0.8em;
	width: 100%;
}

li ul {                   /* DEcides if showing or not */
	position: absolute;
	top: 40px;
	display: none;
	margin: 0px;
	font-size: 1em;
	background-color: #EDEDED;
}

ul li {
 	position: relative;
 	margin: 0px;
 	border: 1px solid lightgrey;
 	margin-bottom: 0px;
}

ul li a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 5px;
	border-bottom: 0px;
	margin: 0px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

li:hover{
	/*height:27px;*/
	/*border-bottom: 3px solid grey;*/
	/*box-shadow: inset 0 -10px 10px -10px #000000;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;   			inset shadow bottom only	*/ 
}
li.name{
	height:32px;
	border-bottom:0px;
	border-top: 0px;
	padding-top:1px;
}
li.name:hover{
	height:30px;
	border-bottom: 3px solid grey;
}

li.current_page{
	background-color: #EDEDED;
}

li.nav_option{
	width:100%;
	border:0;
	border-bottom:1px solid white;
	text-align: left;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

li.nav_option:hover{
	background-color: #EDEDED;
}

ul.personal {
	 margin: 0px;
	 padding: 0px;
	 list-style: none;
	 width: 250px;
	 text-align: center;
}

li.personal {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 150px;
	text-align: center;
	border-style: none;
}

a.personal {
	display: block;
	text-decoration: none;
	color: black;
	background-color: lightgrey;
	padding: 5px;
	border: 1px solid #ccc;
	border-style: none;
	border-bottom: 0px;
	margin: 0px;
}
a.none{
	background-color: transparent;
	border-style: none;
}

a.none:hover{
	background-color: transparent;
	border-style: none;
}

#messagediv:before{
	left: 0px;
}

div.popup_div{
	display: none;
	width: 300px;
	max-width: 300px;
	background-color: rgba(253,253,253,0.99);
	position: relative;
	border: solid 1px lightgrey;
	max-height: 400px;
	box-shadow: 0px 5px 25px lightgrey;
/*	position: fixed;
	right: 220px; /*620px for center
	left: 0px;*/
	top: 23px;
	left:-5px;
	margin: 0px auto;
}

.popup_div:before 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 15px 15px;
	border-color: rgba(102,102,102,0.9) transparent;
	display: block;
	width: 0px;
	top: -15px;
	left: 0px;
}
div.geardiv{
	position: absolute;
	top:30px;
	right: 0px;
}
div.popup_content{
	overflow: auto;
	max-height: 335px;
}

div.popup_top{
	background-color: white;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}

img.composemessage{
	float: right;
	margin-right: 5px;
	height:20px;
	width:20px; 
	cursor: pointer;
}

ul.message {
	padding: 0px;
	list-style: none;
	width: 100%;
	text-align: left;
}

ul.notification {
	padding: 0px;
	list-style: none;
	width: 100%;
	text-align: left;
}

hr.messagedivide{
	border: none;
    height: 1px;
    color: grey;
}

li.message, li.messageunread, li.info{
	opacity: 0.9;
	border:0;
	border-bottom: 1px solid lightgrey;
	border-top: 0px;
 	position: relative;
 	margin: 0px;
 	background-color: white;
 	word-wrap:break-word;
 	padding:7px;
 	cursor: pointer;
}
li.messageunread{
	background-color: #FAFAFA;
}
li.message:hover{
	opacity: 1;
}
li.info{
	cursor: default;
	background-color: #FAFAFA;
			background-image: url('../Images/fresh_snow.png');

}
a.message{
 	vertical-align: top;
 	border:0;
 	padding:0;
}
a.message:hover{
}

.notification_user_image{
	margin-top:3px;
	border:1px solid white; 
	display:table-cell;
	border:1px solid lightgrey; 
	margin-right:10px;
	height: 40px;
	min-width:40px;
}