<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="login.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="viewer.php" stopProcessing="false">
                    <match url="viewer" ignoreCase="true" />
                    <action type="Rewrite" url="Scripts/viewer.php" />
                    <conditions>
                    </conditions>
                </rule>
                <rule name=".php" stopProcessing="false">
                    <match url="^([a-zA-Z]+)$" ignoreCase="true" />
                    <action type="Rewrite" url="{R:1}.php" />
                    <conditions>
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
